<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <!-- Bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <!-- Vue.js CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


    </head>
    <body>
        <div id="app" class="container col">
            <div class="row col d-flex justify-content-center align-items-center">
                <div class="col-10 p-3 d-flex justify-content-center align-items-center mt-5">
                    <p class="h1">Car Ecommerce</p>
                </div>
                <div class="col-10 p-3 mt-5 d-flex justify-content-start">
                    <div class="col-6 col-sm-4 col-md-3 p-1">
                        <select v-on:change="pickDataFromCategory(category)" class="form-select" v-model="category">
                            <option selected>Category</option>
                            <option value="Tesla">Tesla</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Honda">Honda</option>
                            <option value="Mazda">Mazda</option>
                            <option value="Mercedes-Benz">Mercedes-Benz</option>
                            <option value="Lexus">Lexus</option>
                            <option value="Lamborghini">Lamborghini</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 p-1">
                        <select v-on:change="sortForDisplayObj(sort)" class="form-select" v-model="sort">
                            <option selected>Sort by:</option>
                            <option value="1">Price: Low to High</option>
                            <option value="2">Price: High to Low</option>
                            <option value="3">Newest Arrivals</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-10 col-sm-12 p-1 mt-5 d-flex justify-content-center align-items-center flex-wrap">
                    <div v-for="obj in displayObj" class="col-12 col-sm-5 col-lg-3 p-3 m-2 border border-secondary rounded">
                        <app-car-card v-bind:obj="obj"></app-car-card>
                        <!-- <div class="col-12">
                            <img src="https://media.istockphoto.com/photos/electric-sports-car-the-tesla-model-3-picture-id1277254968?k=6&m=1277254968&s=612x612&w=0&h=4j3WhZQD95BJyqOnML2sDatX9SFQomJclLyd5bbV3FU=" class="card-img-top rounded">
                        </div>
                        <div class="col h4">
                            <p>{{data.name}}</p>
                        </div>
                        <div class="col ">
                            <p>Category: </p>
                        </div>
                        <div class="col ">
                            <p>Price: $</p>
                        </div>
                        <div class="col ">
                            <p>Date: 2020-10-4</p>
                        </div> -->
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="./js/main.js"></script>
</html>
